body {
	background: url(../image/fondo.jpg);
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
	background-position: center;
}

div {
	background: rgba(255,255,255,.5);
	height: 100px;
	width: 50%;
	font-size: 20px;
}

h1 {
	background: rgba(0,0,0,.5);
	font-size: 40px;
}
