table {
	border: 1px solid black;
	border-collapse: collapse;
}

table td {
	border: 1px solid black;
	padding: 20px;
}

table tr:hover {
	background: #A1A1A1;
}

table td:hover {
	background: black;
	color: white;
}
